*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  }

.Contenedor{
  border: solid 1px black;
  width: 100%;
  max-width:1000px;
  margin:auto;
  box-sizing: border-box;
  overflow: hidden;
}

.Cabecera {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 220px;
}

.Cabecera img{
  width:100px;
  ]
