*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  }

.Contenedor{
  border: solid 1px black;
  width: 100%;
  max-width:1000px;
  margin:auto;
  box-sizing: border-box;
  overflow: hidden;
}

.Cabecera {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 100px;
}

.Cabecera img{
  width:100px;
}
  
  
  .Cabecera_h1 {
   position: absolute;
   top: 40px;
    left: 150px;
  }
  
.Cabecera_frase {
  position: absolute;
  top: 70px;
  left: 235px;
  }

.nav{
 margin: 10px 10px 0 0;
 position: unset;
 background: none;
 height: auto;
 width: unset;
 border:none;
}
   
.nav_link{
 background: #E4651D;
 color: white;
 padding: 5px;
 border-radius: 3px;
}

.nav_link_palote {
 background: #60C932;
 color: white;
 padding: 5px;
 border-radius: 3px;
}

.nav_link_Button{
 background: #E4651D;
 color: white;
 padding: 5px;
 border-radius: 3px;
}


.galeria {
  width: 100%;
  height: 400px;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}


.galeria_lienzo{
  width: 600px;
  height: 350px;
  overflow: hidden;
}
  
.galeria_contenedor{ 
  display: flex;
  width: 7000px; 
  height: 50px;
  transition: transform 1s ease-in;
  will-change: transform;
}

.elemento1:checked ~ .galeria_contenedor {
  transform: translateX(0px);
}

.elemento2:checked ~ .galeria_contenedor {
  transform: translateX(-600px);
}

.elemento3:checked ~ .galeria_contenedor {
  transform: translateX(-1200px);
}

.controles {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  position: relative;
  top: -26px;
}





label{
  margin: 5px;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background:green;
  display: block;
  cursor: pointer;
}


-------------------------------MODULOS------------------------------

.tienda{
  display:grid;
  grid-template:repeat(3, 300px) / repeat(3, 300px);
  justify-content: center;
  grid-gap:16px;
  width:100%;
  height:auto; 
  
  
}

.tienda article {
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-flow: wrap;
  border: solid;
  border-radius: 15px;
  overflow: hidden;
  }
  
  



